<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Update Employee from the list</h3>

<form action="/updaterec" method=["post","get"]>
<!--Employee Id <input type="text" name="id">
<input type="submit" value="Submit">-->
    <div>
        <lable> Enter Id to Update</lable>
        <input type="number" name="id" id="id">
    </div>
    <div>
        <lable>Name</lable>
        <input type="text" name="name" id="">
    </div>
    <div>
        <lable>Email</lable>
        <input type="text" name="email" id="">
    </div>
    <div>
        <lable>Address</lable>
        <input type="textarea" name="add" id="">
    </div>
    <button type="update">Update</button>
</form>
</body>
</html>